.move-list {
    position: absolute;
    top: 26px;
    left: 340px;
    z-index: 100;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 300px;
}

.moves {
    list-style-type: none;
}

.prompt-block {
    font-size: 12px;
    font-family: monospace;
    font-weight: bolder;
    cursor: auto;
}

.save-to-clipboard {
    display: none;
}

.game-from-clipboard {
    display: none;
}

.make-move {
    position: absolute;
    top: 0px;
    left: 426px;
    width: 200px;
    z-index: 100;
}